/* You can add global styles to this file, and also import other style files */
.pull-right {
    float: right !important;
  }
.pull-left {
    float: left !important;
  }
  .table {
    max-height: 50px !important;
    font-weight: 100;
  }
  .table-content{
    margin-top: -15px !important;
    font-weight: 100;
  }
  .table-content-input{
    margin-top: -38px !important;
    font-weight: 100;
  }
  .table-icons{
    margin-top: -35px !important;
  }